/*#App{
	background-color: #ccc;
}*/

/*Header*/
.zh-header{
	width: 100%;
	background-color: #222;
	color: white;

	height: 5rem;
	vertical-align:middle;
	text-align:  
	background-size:cover;

}

.main-wrap{
	position: relative;
}
.headline, .img-place-holder{

	height: 0;
	overflow: hidden;
		z-index: 1000;
}
.onlyheading {
	border-bottom: none;
	height: 50px;
}

