html{
	font-size: 125%;
	/*font-family: "微软雅黑";*/
}

.fl{
	float: left;
}

.fr{
	float: right;
}
.fontf{
	/*font-family: '微软雅黑';*/
}

.main-wrap{
	position: relative;
}
.headline, .img-place-holder{

	height: 0;
	overflow: hidden;
		z-index: 1000;
}
.onlyheading {
	border-bottom: none;
	height: 50px;
}